$primaryColour: #00acee;
$secondaryColour: rgb(177, 177, 177);

.AccountTypeInput{
  width: 40%;
  height: 30px;
  position: relative;
  left: -37px;
   label{
     display: block;
      position: absolute;
      margin-left:45px; 
      border-radius: 3px;
      padding: 5px 10px;
      font-size: 14px;
      letter-spacing: 1px;
      top:20px;
      transition: 300ms ease all;
      color: $secondaryColour;
    }
    .passwordInput {
      display: inline-block;
      width: 100%;
      margin: 10px;
      padding:15px;
      border: 1px solid $secondaryColour;
      border-radius: 4px;
      background-image:url('../Test/lock-24px.svg');
      background-repeat:no-repeat;
      background-position:8px;
      padding-left:45px;
      position: absolute;
    &:focus{
      outline:none;
      border: 3px solid $primaryColour;
      +label {
        color: white;
        background-color: $primaryColour;
        font-size: 10px;
        top:0px;
        }
      }
    }
    .pwdForgotLink{
      position: absolute;
      right: -70px;
      top: 20px;
      color: $primaryColour;
      border-left: 0.0935em solid $secondaryColour;
      padding:5px 25px;
      cursor: pointer;
    }

    .accountEmailInput{
      @extend .passwordInput;
      background-image:url('../Test/mail_outline-24px.svg');

    }
    .accountEmailLabel{
      color: white;
      background-color: $primaryColour;
      font-size: 10px;
      top:0px;
    }
  }